html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    width:100%;
    height:100px;
    background: #72147e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    align-items: center;
    margin-left:35px;
    transition: 0.4s;
    font-weight:bold;
    font-size:40px;
}

.header h1 a{
    color :white;
    text-decoration:none;
}

.header h1:hover{
    font-size:45px;
}

.header ul{
    list-style:none;
    display:flex;
}

.header ul li{
    margin-right: 60px;
}

.header ul li a{ 
    color:white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

.header ul li a:hover{
    font-size:20px;
    font-weight:bold;
}
/* CONTENT */

section{
    width:100%;
    height:600px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.material-icons{
    font-size:70px;
    color:white;
    transition:0.3s;
}

.section1 .material-icons:hover{
    font-size:80px;
    color:#fdca40;
}

#mid-section1 .material-icons:hover{
    font-size:80px;
    color:#a799b7;
}

#mid-section2 .material-icons:hover{
    font-size:80px;
    color:#fb3640;
}


.section1{
    background: #fb3640;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
}

.section1 h2{
    color:white;
    font-size: 38px;
}

.section1 p{
    color:white;
    margin:3%;
}

.section2{
    background: #fdca40;
}

.section3{
    background: #a799b7;
}

.section4{
    background: #fb3640;
}

.aside1{
    width:35%;
    height:500px;
    background: white;
}

.section2 .aside2{   
    background: url("https://i.postimg.cc/C50P7zFg/img1.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 
}

.section3 .aside2{   
    background: url("https://i.postimg.cc/ZK5RsHsW/img2.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 
}

.section4 .aside2{   
    background: url("https://i.postimg.cc/0yv2k1JZ/img3.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 
}

section aside{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 80px;
}

aside h2{
    font-size: 38px;
}


aside p {
    text-align:center;
    font-size:20px;
    margin:10px;
}

aside button{
    width:30%;
    height:45px;
    margin-top:35px;
    font-size:24px;
    border-radius:10px;
    transition:0.3s;
}

aside button:hover{
    width:32%;
    height:55px;
    font-size:26px;
    cursor:pointer;
    
}

/* SECTION 2  */

.section2 aside h2{
    color:#fdca40;
}

.section2 aside button{
    background: rgba(253, 202, 64,0.8);
    color:white;
    border: solid 1px #fdca40 ;
}

.section2 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#fdca40;
    border: solid 1px #fdca40 ;
}

/* SECTION 3  */

.section3 aside h2{
    color:#a799b7;
}

.section3 aside button{
    background: rgba(167, 153, 183,0.8);
    color:white;
    border: solid 1px #a799b7 ;
}

.section3 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#a799b7;
    border: solid 1px #a799b7 ;
}

/* SECTION 3  */

.section3 aside h2{
    color:#a799b7;
}

.section3 aside button{
    background: rgba(167, 153, 183,0.8);
    color:white;
    border: solid 1px #a799b7 ;
}

.section3 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#a799b7;
    border: solid 1px #a799b7 ;
}

/* SECTION 3  */

.section4 aside h2{
    color:#fb3640;
}

.section4 aside button{
    background: rgba(251, 54, 64,0.8);
    color:white;
    border: solid 1px #fb3640 ;
}

.section4 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#fb3640;
    border: solid 1px #fb3640 ;
}

/* MID SECTIONS   */
.mid-section{
    width:100%;
    height:150px;
}

#mid-section1{
    background:#fdca40;
}

#mid-section2{
    background:#a799b7;
}

/* FOOTER */
.footer{
    width:100%;
    height:300px;
    background: #72147e;
    border-top:white solid 4px;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.footer aside{
    width:45%;
    height: 250px;
    background:white;
    display:flex;
    justify-content: flex-start;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {

.header ul li a{
    font-size:14px;
}

.header ul li a:hover{
    font-size:16px;
}

/* CONTENT */

/* SECTION 1 */

.section1 h2{
    font-size: 28px;
}

.section1 .material-icons{
    margin-top:40px;
}

/* SECTION 2 */

.section2{
    display:flex;
    flex-direction: column;
}

.section2 .aside1{
    width:90%;
}

.section2 .aside2{
    display:none;
}

/* SECTION 3 */

.section3{
    display:flex;
    flex-direction: column;
}

.section3 .aside1{
    width:90%;
}

.section3 .aside2{
    display:none;
}

/* SECTION 4 */

.section4{
    display:flex;
    flex-direction: column;
}

.section4 .aside1{
    width:90%;
}

.section4 .aside2{
    display:none;
}
  }






