html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.header{
    width:100%;
    height:35px;
    background: #72147e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition:0.3s;
}

.header h1{
    align-items: center;
    margin-left:25px;
    transition: 0.4s;
    font-weight:bold;
    font-size:40px;
    
    /* Animations */
    animation-duration: 1s;
    animation-name: slidein-left-header;
}

.header h1 a{
    color :white;
    text-decoration:none;
}

.header h1:hover{
    font-size:45px;
}

.header ul{
    list-style:none;
    display:flex;

    /* Animations */
    animation-duration: 1s;
    animation-name: slidein-right;
}

.header ul li{
    margin-right: 60px;
}

.header ul li a{ 
    color:white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

.header ul li a:hover{
    /* font-size:20px; */
    font-weight:bold;
}

/* Para el script */
.header-black{
    width:100%;
    height:35px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition:0.3s;
}

.header-black h1{
    align-items: center;
    margin-left:25px;
    transition: 0.4s;
    font-weight:bold;
    font-size:40px;
    
    /* Animations */
    animation-duration: 1s;
    animation-name: slidein-left-header;
}

.header-black h1 a{
    color :white;
    text-decoration:none;
}

.header-black h1:hover{
    font-size:45px;
}

.header-black ul{
    list-style:none;
    display:flex;

    /* Animations */
    animation-duration: 1s;
    animation-name: slidein-right;
}

.header-black ul li{
    margin-right: 60px;
}

.header-black ul li a{ 
    color:white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

.header-black ul li a:hover{
    /* font-size:20px; */
    font-weight:bold;
}
/* CONTENT */

section{
    width:100%;
    height:600px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-top:solid white 3px;
}

.material-icons{
    font-size:70px;
    color:white;
    transition:0.3s;

     /* Animations */
    animation-duration: 3s;
    animation-name: shade;
}

#up-arrow{
    transform: rotate(180deg);
}

.section1 .material-icons:hover{
    font-size:80px;
    color:#fdca40;
}

#mid-section1 .material-icons:hover{
    font-size:80px;
    color:#a799b7;
}

#mid-section1 #up-arrow:hover{
    color:#fb3640;
}

#mid-section2 .material-icons:hover{
    font-size:80px;
    color:#fb3640;
}

#mid-section2 #up-arrow:hover{
    font-size:80px;
    color:#fdca40;
}

#mid-section3 .material-icons:hover{
    font-size:80px;
    color:#72147e;
}

#mid-section3 #up-arrow:hover{
    font-size:80px;
    color:#a799b7;
}

#mid-section4 #up-arrow:hover{
    font-size:80px;
    color:#fb3640;
}


.section1{
    background: #fb3640;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
}

.section1 h2{
    color:white;
    font-size: 38px;

     /* Animations */
    animation-duration: 3s;
    animation-name: shade;
}

.section1 p{
    color:white;
    margin:3%;

     /* Animations */
    animation-duration: 3s;
    animation-name: shade;
}

.section2{
    background: #fdca40;
}

.section3{
    background: #a799b7;
}

.section4{
    background: #fb3640;
}

.aside1{
    width:35%;
    height:500px;
    background: white;
}

.section2 .aside1{
     /* Animations */
    animation-duration: 3s;
    animation-name: slidein-left;
}

.section3 .aside1{
     /* Animations */
    animation-duration: 3s;
    animation-name: slidein-right;
}

.section4 .aside1{
     /* Animations */
    animation-duration: 3s;
    animation-name: slidein-left;
}

.section2 .aside2{   
    background: url("https://i.postimg.cc/C50P7zFg/img1.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 
    
     /* Animations */
    animation-duration: 3s;
    animation-name: slidein-right;
}

.section3 .aside2{   
    background: url("https://i.postimg.cc/ZK5RsHsW/img2.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 

     /* Animations */
    animation-duration: 3s;
    animation-name: slidein-left;
}

.section4 .aside2{   
    background: url("https://i.postimg.cc/0yv2k1JZ/img3.png");
    width:45%;
    height:600px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:right; 

    /* Animations */
    animation-duration: 3s;
    animation-name: slidein-right;
}

section aside{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 80px;
}

aside h2{
    font-size: 38px;
}


aside p {
    text-align:center;
    font-size:20px;
    margin:10px;
}

aside button{
    width:30%;
    height:45px;
    margin-top:35px;
    font-size:24px;
    border-radius:10px;
    transition:0.3s;
}

aside button:hover{
    width:32%;
    height:55px;
    font-size:26px;
    cursor:pointer;
    
}

/* SECTION 2  */

.section2 aside h2{
    color:#fdca40;
}

.section2 aside button{
    background: rgba(253, 202, 64,0.8);
    color:white;
    border: solid 1px #fdca40 ;
}

.section2 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#fdca40;
    border: solid 1px #fdca40 ;
}

/* SECTION 3  */

.section3 aside h2{
    color:#a799b7;
}

.section3 aside button{
    background: rgba(167, 153, 183,0.8);
    color:white;
    border: solid 1px #a799b7 ;
}

.section3 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#a799b7;
    border: solid 1px #a799b7 ;
}

/* SECTION 3  */

.section3 aside h2{
    color:#a799b7;
}

.section3 aside button{
    background: rgba(167, 153, 183,0.8);
    color:white;
    border: solid 1px #a799b7 ;
}

.section3 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#a799b7;
    border: solid 1px #a799b7 ;
}

/* SECTION 3  */

.section4 aside h2{
    color:#fb3640;
}

.section4 aside button{
    background: rgba(251, 54, 64,0.8);
    color:white;
    border: solid 1px #fb3640 ;
}

.section4 aside button:hover{
    background: rgba(253, 202, 64,0);
    color:#fb3640;
    border: solid 1px #fb3640 ;
}

/* MID SECTIONS   */
.mid-section{
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
}

#mid-section1{
    background:#fdca40;
}

#mid-section2{
    background:#a799b7;
}

#mid-section3{
    background:#fb3640;
}

#mid-section4{
    background:#72147e;
}

/* FOOTER */
.footer{
    width:100%;
    height:600px;
    background: #72147e;
    border-top:white solid 4px;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.footer aside{
    width:45%;
    height: 250px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer aside:first-child{ 
    border-right: solid white 3px;
    padding:20px;
}

.footer h3{
    margin-left:15px;
    color:white;
}

.footer ul {
    color:white;
}

.footer a{
    color:white;
    text-decoration: none;
    transition:0.2s;
}

.footer a:hover{
    font-weight:bold;
}

/* ANIMATIONS */

@keyframes shade {
    from {
      opacity:0%;
    }
  
    to {
     opacity:100%;
    }
  }

  @keyframes slidein-left-header {
    from {
      margin-left:-10%;
      opacity:0%;
    }
  
    to {
     margin-left:35px;
     opacity:100%;
    }
  }

  @keyframes slidein-left {
    from {
      margin-left:-40%;
      opacity:0%;
    }
  
    to {
     margin-left:0%;
     opacity:100%;
    }
  }

  @keyframes slidein-right {
    from {
      margin-right:-40%;
      opacity:0%;
    }
  
    to {
     margin-left:0%;
     opacity:100%;
    }
  }


/* RESPONSIVE */

@media only screen and (max-width: 1100px) {

.header ul li a{
    font-size:14px;
}

.header ul li a:hover{
    font-size:16px;
}

/* CONTENT */

/* SECTION 1 */

.section1 h2{
    font-size: 28px;
}

.section1 .material-icons{
    margin-top:40px;
}

/* SECTION 2 */

.section2{
    display:flex;
    flex-direction: column;
}

.section2 .aside1{
    width:90%;
}

.section2 .aside2{
    display:none;
}

/* SECTION 3 */

.section3{
    display:flex;
    flex-direction: column;
}

.section3 .aside1{
    width:90%;
}

.section3 .aside2{
    display:none;
}

/* SECTION 4 */

.section4{
    display:flex;
    flex-direction: column;
}

.section4 .aside1{
    width:90%;
}

.section4 .aside2{
    display:none;
}

/* FOOTER */
.footer aside:first-child{ 
    border-right: none;
    text-align:center;
    padding:0;
}

.footer aside:nth-child(2n){
    display:none;
}

.footer ul{
    list-style:none;
    margin-left:-22px;
}

.footer h3{
    margin:0;
}

  }






